* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #5f1313;
    color: #edf1f3;
    padding: 20px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #f9fafb;
    text-decoration: none;
    padding: 5px 10px;
}

nav ul li a:hover {
    background: #947bd3;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    padding: 20px;
}

.content {
    background: #45718d;
    padding: 20px;
}

.sidebar {
    background: #de75db;
    padding: 20px;
}

.gallery {
    padding: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Change the min size */
    gap: 15px;
}

.gallery img {
    width: 30%; /* Images will take full width of their grid item */
    height: 20; /* Maintain aspect ratio */
    border-radius: 8px;
}


footer {
    background: #3060c8;
    color: #fff;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-content ul {
    display: flex;
    list-style: none;
}

.footer-content ul li {
    margin: 0 15px;
}

.footer-content ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-content ul li a:hover {
    text-decoration: underline;
}

/* Responsive Styles */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    main {
        grid-template-columns: 1fr; /* Stack columns on small screens */
    }

    .footer-content {
        flex-direction: column; /* Stack footer content on small screens */
    }
}
